body{
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    text-align: center;
}
.mainactionwrapper{
    display: flex;
    justify-content: center;
}
#userinput{
    margin: 10px;
    padding: 0.5em;
    border-radius: 5px;
}
#input{
    margin: 10px;
    padding: 0.5em;
    border-radius: 5px;
}
.ulwrapper{
    max-width: 500px;
    display: flex;
    justify-content: center;
}
.done{
    text-decoration: line-through;
}
