body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb( 225, 200, 0);
}
h1{
    text-align: center;
}
.mainactionwrapper{
    display: flex;
    justify-content: center;
}
#userinput{
    margin: 10px;
    padding: 0.5em;
    border-radius: 5px;
}
#input{
    margin: 10px;
    padding: 0.5em;
    border-radius: 5px;
}
.ulwrapper{
    max-width: 500px;
    margin: auto;
    display: flex;
    justify-content: center;
}
.done{
    text-decoration: line-through;
}
.delete{
    border-radius: 5px;
    margin-left: 20px ;
}
